.player-edit {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
}

button {
    margin: 12px;
}

input {
    font-size: 25px;
    max-width: 170px;
    padding-left: 12px; 
    border-bottom: 2px solid black;
}
