<div class="numPlayer row">
  <div class="col">
    <!-- <form id="player-edit" (ngSubmit)="addPlayer(f)" #f="ngForm"> -->
    <h1>
      <input
        type="text"
        placeholder="nickname"
        name="name"
        ngModel
        #name="ngModel"
      />
    </h1>
    <!-- <button type="submit">Add Player</button>
    </form> -->
    <form id="player-edit" (ngSubmit)="addPoints(f2)" #f2="ngForm">
      <p>
        <input
          type="number"
          placeholder="add points here"
          name="points"
          ngModel
          #points="ngModel"
        />
      </p>
      <button type="submit">Add Points</button>
    </form>
  </div>
  <div class="col">
    <h4>Points:</h4>
    <ul>
      <li *ngFor="let arrayPoint of arrayPoints">{{ arrayPoint }}</li>
    </ul>
    <h4>Total: {{ total }}</h4>
  </div>
</div>
