<div class="numPlayer">
    <form id="player-edit" (ngSubmit)="addPlayer(f)" #f="ngForm">
        <h1>
            <input 
                type="text" 
                placeholder="nickname" 
                name="name"
                ngModel
                #name="ngModel"
                >
        </h1>
        <button type="submit">Add Player</button>
    </form>
    <!-- <p *ngFor="point of player.points">{{ point }}</p> -->
    <form id="player-edit" (ngSubmit)="addPoints(f2)" #f2="ngForm">
            <p>
                <input 
                    type="number" 
                    placeholder="add points here" 
                    name="points"
                    ngModel
                    #points="ngModel"
                    >
            </p>
        <button type="submit" [disabled]="!f.submitted">Add Points</button>
    </form>
    <!-- <p>Total: {{ total }}</p> -->
</div>